{ "presets": ["react",'@vue/app',
  /*['@babel/preset-env',{
    corejs: '2.0',
    useBuiltIns:'usage'
  }],
  '@babel/preset-react'*/
],
"plugins": [
  '@babel/plugin-proposal-export-default-from',
  /*"@babel/plugin-transform-runtime",
  ["@babel/plugin-proposal-decorators", { "legacy": true }],
  ["@babel/plugin-proposal-class-properties", { "loose": true }],
  ["import", {"libraryName": "antd", "libraryDirectory": "es"},'ant'],
  ["import", {"libraryName": "lodash", "libraryDirectory": "", "camel2DashComponentName":false},'lodash'],
  ["import", {"libraryName": "jquery", "libraryDirectory": "", "camel2DashComponentName":false},'jquery'],*/
]
}
